.creations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20vh 0 20vh $spacing-md;

  @include breakpoint($md) {
    width: 50rem;
    margin: 0 15vw 0 25vw;
    padding: 0 $spacing-md;
  }

  h2 {
    margin-bottom: $spacing-sm;
    padding-top: $spacing-xs;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0rem;
      width: 8rem;
      height: 0.2rem;
      background-color: $darkgreen;

      @include breakpoint($max-md) {
        opacity: 0;
        transition: 0.6s $transition;
      }
    }

    &.is-inview {
      &::before {
        opacity: 1;
        transition-delay: 0.1s;
      }

      ~ p {
        opacity: 1;
        transition-delay: 0.2s;

        &:nth-child(2) {
          transition-delay: 0.3s;
        }

        &:nth-child(3) {
          transition-delay: 0.4s;
        }
      }
    }
  }

  p {
    padding-bottom: $spacing-xs;

    @include breakpoint($max-md) {
      opacity: 0;
      transition: 0.6s $transition;
    }
  }
}
