.statement {
  &__container {
    display: flex;
    height: 100%;
    padding-top: $spacing-md;

    @include breakpoint($md) {
      padding-top: 0;
    }
  }

  &__title {
    font-size: 4rem;
    margin: auto 0;

    @include breakpoint($md) {
      margin: auto;
      white-space: nowrap;
      font-size: 15rem;
    }

    @include breakpoint($lg) {
      font-size: 20rem;
    }

    @include breakpoint($xl) {
      font-size: 20rem;
    }

    @include breakpoint($xxl) {
      font-size: 10rem;
    }

    &--center {
      margin: auto;
    }

    &--outline {
      -webkit-text-stroke: 0.1rem $black;
      color: transparent;
    }

    span {
      display: block;
    }

    @include breakpoint($max-md) {
      [data-scroll] {
        opacity: 0;
        transition: 0.6s $transition;
      }

      .is-inview {
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }
}
