.statement {
  &__container {
    display: flex;
    height: 100%;
  }

  &__title {
    font-size: 6.5rem;
    margin: auto 0;

    @include breakpoint($md) {
      margin: auto;
      white-space: nowrap;
      font-size: 15rem;
    }

    @include breakpoint($lg) {
      font-size: 20rem;
    }

    @include breakpoint($xl) {
      font-size: 25rem;
    }

    @include breakpoint($xxl) {
      font-size: 30rem;
    }

    &--center {
      margin: auto;
    }
  }
}
