.statement {
  &__container {
    display: flex;
    height: 100%;
  }

  &__title {
    margin: auto;
    white-space: nowrap;
    font-size: 10rem;

    @include breakpoint($md) {
      font-size: 15rem;
    }

    @include breakpoint($lg) {
      font-size: 20rem;
    }

    @include breakpoint($xl) {
      font-size: 25rem;
    }

    @include breakpoint($xxl) {
      font-size: 30rem;
    }
  }
}
