.button {
  width: 100%;
  margin-bottom: $spacing-sm;
  padding: $spacing-xs $spacing-sm;
  background-color: $black;
  border-radius: 2.7rem;
  border-width: 0.2rem;
  border-style: solid;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &--darkblue {
    border-color: $darkblue;

    &:hover {
      background-color: $darkblue;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  @include breakpoint($md) {
    width: auto;

    + .button {
      margin-left: 2rem;
    }
  }
}
