.button {
  width: 100%;
  margin-bottom: $spacing-sm;
  padding: $spacing-xs $spacing-sm;
  background-color: $black;
  border-radius: 2.7rem;
  border-width: 0.2rem;
  border-style: solid;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &--yellow {
    border-color: $yellow;

    &:hover {
      background-color: $yellow;
    }
  }

  &--red {
    border-color: $red;

    &:hover {
      background-color: $red;
    }
  }

  &--purple {
    border-color: $purple;

    &:hover {
      background-color: $purple;
    }
  }

  &--lightblue {
    border-color: $lightblue;

    &:hover {
      background-color: $lightblue;
    }
  }

  &--brown {
    border-color: $brown;

    &:hover {
      background-color: $brown;
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  @include breakpoint($md) {
    width: auto;

    + .button {
      margin-left: 2rem;
    }
  }
}
