.timelineItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: $spacing-md;
  padding: $spacing-sm $spacing-xs;
  background-color: $darkgrey;
  box-shadow: $boxshadow;
  border-radius: 1rem;

  @include breakpoint($md) {
    width: 35rem;
    margin-right: 15vw;
    margin-bottom: 0;
    padding: $spacing-sm;
  }

  &:last-child {
    margin: 0;
  }

  &__info {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4rem;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
      border-radius: 100%;
      border: 0.2rem solid $bluegrey;
      background-color: $darkblue;
      transition: 0.6s $transition;
      transition-delay: 0.2s;
    }

    &.is-inview {
      &::before {
        background-color: $bluegrey;
        box-shadow: 0 0 1.5rem 0 $bluegrey;
      }
    }
  }
}
