.timelineItem {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35rem;
  margin-right: 25rem;
  padding: $spacing-sm;
  padding-bottom: 6rem;
  background-color: $white;

  @include breakpoint($lg) {
    width: 45rem;
    padding: $spacing-lg;
    padding-bottom: 12rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &__title {
    font-weight: bold;
    padding-bottom: 2rem;
  }

  &__number {
    position: absolute;
    bottom: -2.5rem;
    left: -2.5rem;
    display: flex;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    font-family: $font-family-windsor;
    font-size: $font-lg;
    background-color: $black;
    color: $white;

    @include breakpoint($lg) {
      width: 10rem;
      height: 10rem;
      font-size: $font-xl;
    }

    span {
      margin: auto;
    }
  }
}
