.workItem {
  position: relative;
  width: 100%;
  margin-top: 35rem;
  padding: $spacing-sm;
  padding-top: 14rem;
  padding-bottom: $spacing-xl;
  background-color: $white;
  box-shadow: $boxshadow;

  &:hover {
    .underline {
      &::after {
        width: 100%;
      }
    }
  }

  &:first-child {
    margin-top: 25rem;
  }

  @include breakpoint($md) {
    width: 40rem;
    margin-right: 25rem;
    margin-top: 0;
    padding: $spacing-sm $spacing-sm 4rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($lg) {
    width: 45rem;
    padding: $spacing-md $spacing-md 8rem;
  }

  &__explore {
    position: absolute;
    bottom: -4.5rem;
    left: 0;
    right: 0;
    display: flex;
    width: 9rem;
    height: 9rem;
    margin: auto;
    border-radius: 100%;
    font-size: $font-lg;
    font-family: $font-family-windsor;
    background-color: $black;
    color: $white;
    cursor: pointer;

    @include breakpoint($md) {
      left: -5.5rem;
      right: auto;
    }

    @include breakpoint($lg) {
      width: 12rem;
      height: 12rem;
      font-size: $font-xl;
    }

    a {
      margin: auto;
      color: $white;
      text-decoration: none;
    }
  }
}
