.workItem {
  position: relative;
  width: 55rem;
  height: 60rem;
  padding: 4rem;
  margin-right: 50rem;
  background-color: $white;

  h3 {
    padding-bottom: 7rem;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 93%;
    max-height: 55rem;
  }

  &__explore {
    position: absolute;
    bottom: -2.5rem;
    left: -2.5rem;
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    font-size: $font-lg;
    font-family: $font-family-windsor;
    background-color: $black;
    color: $white;
    cursor: pointer;

    a {
      margin: auto;
      color: $white;
      text-decoration: none;
    }
  }
}
