.workItem {
  position: relative;
  width: 100%;
  margin-bottom: $spacing-lg;
  box-shadow: $boxshadow;

  @include breakpoint($md) {
    margin-top: $spacing-md;
  }

  &:hover {
    .underline {
      &::after {
        width: 100%;
      }
    }
  }

  @include breakpoint($md) {
    width: 40rem;
    margin-right: 25rem;
    margin-top: 0;
    padding: $spacing-sm $spacing-sm 4rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($lg) {
    width: 45rem;
    padding: $spacing-md $spacing-md 8rem;
  }

  &__meta {
    margin-bottom: $spacing-sm;

    span {
      margin-right: $spacing-xs;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }
  }

  &__explore {
    margin-top: $spacing-xs;

    a {
      transition: 0.6s $transition;

      &::after {
        content: '\203A';
        color: $bluegrey;
      }

      &:hover {
        color: $bluegrey;
      }
    }
  }
}
