.about {
  display: flex;

  @include breakpoint($md) {
    width: 55rem;
    height: 100%;
  }

  @include breakpoint($lg) {
    width: 65rem;
  }

  &:hover {
    .underline {
      &::after {
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;
    margin: auto;
    padding-top: $spacing-md;

    @include breakpoint($lg) {
      padding-top: $spacing-xl;
    }
  }

  &__stroke {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.4rem;
    background-color: $black;
  }

  h3 {
    @include breakpoint($max-md) {
      &[data-scroll] {
        opacity: 0;
        transition: 0.6s $transition;
      }

      &.is-inview {
        opacity: 1;
        transition-delay: 0.1s;
      }
    }
  }

  p {
    @include breakpoint($max-md) {
      &[data-scroll] {
        opacity: 0;
        transition: 0.6s $transition;
      }

      &.is-inview {
        opacity: 1;
        transition-delay: 0.2s;

        &:last-of-type {
          transition-delay: 0.3s;
        }
      }
    }

    &:first-of-type {
      padding-bottom: 2rem;
    }
  }

  .underline {
    cursor: pointer;

    @include breakpoint($max-md) {
      &::after {
        width: 100%;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }
}
