.about {
  display: flex;

  @include breakpoint($md) {
    width: 55rem;
    height: 100%;
  }

  @include breakpoint($lg) {
    width: 65rem;
  }

  &:hover {
    .underline {
      &::after {
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;
    margin: auto;
    padding-top: $spacing-md;

    @include breakpoint($lg) {
      padding-top: $spacing-xl;
    }
  }

  &__stroke {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.4rem;
    background-color: $black;
  }

  p:first-of-type {
    padding-bottom: 2rem;
  }

  .underline {
    cursor: pointer;

    &:hover::after {
      width: 100%;
    }
  }
}
