.about {
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: $xl;

    @include breakpoint($md) {
      padding: $spacing-md;
      padding-bottom: $spacing-md;
    }
  }

  &__cancel {
    position: fixed;
    top: 0;
    right: 0;
    width: 2rem;
    margin: $spacing-sm;
    cursor: pointer;

    svg {
      fill: $white;
    }
  }

  &__smiley {
    width: 100%;
    margin: auto;

    @include breakpoint($md) {
      width: auto;
      height: 70vh;
      margin: 0 auto;
    }

    svg {
      fill: $white;

      @include breakpoint($md) {
        height: 100%;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: $spacing-lg;
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 50%;

    a {
      padding-bottom: 0.5rem;
      &:last-child {
        padding: 0;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
