$swiper-height: 65vh;

.gallery {
  &__img {
    max-width: calc(100% - 4rem);
    border-radius: 1.7rem;
    margin: 0 $spacing-sm;

    @include breakpoint($md) {
      margin: 0;
      max-width: 100%;
      height: $swiper-height;
    }
  }
}

.mySwiper {
  &.swiper-container {
    width: 100%;
    height: $swiper-height;
  }

  .swiper-slide img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1.7rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $lightgrey;
    transition: 0.6s $transition;

    &:hover {
      color: $white;
    }
  }

  @include breakpoint($md) {
    .swiper-button-next {
      right: $spacing-md;
    }
    .swiper-button-prev {
      left: $spacing-md;
    }
  }
}
