$swiper-height: 65vh;

.gallery {
  &__img {
    height: $swiper-height;
    border-radius: 1.7rem;
  }
}

.mySwiper {
  &.swiper-container {
    width: 100%;
    height: $swiper-height;
  }

  .swiper-slide {
    width: auto;
  }

  .swiper-slide img {
    display: inline-block;
    height: 100%;
    object-fit: cover;
    border-radius: 1.7rem;
  }
}
