.explore {
  display: flex;
  flex-direction: column;
  padding: $spacing-sm;
  width: 100%;
  height: 100vh;

  @include breakpoint($md) {
    padding: $spacing-md 0 $spacing-sm 0;
  }

  &__cancel {
    position: fixed !important;
    top: 0;
    right: 0;
    width: 2rem;
    margin: $spacing-sm;

    @include breakpoint($md) {
      margin: $spacing-md;
    }

    svg {
      fill: $white;
      width: 2rem;
      height: 2rem;
    }
  }

  &__slider {
    width: 100%;
    margin: auto 0;
    text-align: center;
  }

  &__title {
    display: block;
    width: 100%;
    text-align: center;
  }
}
