.animate__delay-02s {
  animation-delay: calc(var(--animate-delay) * 0.2);
}

.animate__delay-04s {
  animation-delay: calc(var(--animate-delay) * 0.4);
}

.animate__delay-06s {
  animation-delay: calc(var(--animate-delay) * 0.6);
}

.animate__delay-08s {
  animation-delay: calc(var(--animate-delay) * 0.8);
}

.animate__delay-10s {
  animation-delay: calc(var(--animate-delay) * 1);
}

.animate__delay-12s {
  animation-delay: calc(var(--animate-delay) * 1.2);
}

.animate__delay-14s {
  animation-delay: calc(var(--animate-delay) * 1.4);
}

.animate__delay-16s {
  animation-delay: calc(var(--animate-delay) * 1.6);
}

.animate__delay-18s {
  animation-delay: calc(var(--animate-delay) * 1.8);
}
