* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  background-color: $body-bg-color;
  color: $body-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  font-size: $body-font-size;
  line-height: $body-line-height;
  min-width: $body-min-width;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-windsor;
  white-space: normal;
}

h3 {
  font-size: $font-lg;
  white-space: normal;
  padding-bottom: $spacing-md;

  @include breakpoint($lg) {
    font-size: $font-xl;
    padding-bottom: $spacing-xl;
  }
}

p {
  font-size: $font-sm;
  white-space: normal;

  @include breakpoint($lg) {
    font-size: $font-md;
  }
}

a {
  font-size: $font-sm;
  white-space: normal;

  @include breakpoint($lg) {
    font-size: $font-md;
  }
}

.underline {
  display: inline-block;

  &::after {
    content: '';
    width: 0;
    height: 0.2rem;
    display: block;
    background: $black;
    transition: 200ms;
  }
}
