.page {
  width: auto;
  margin-right: $spacing-xxl;

  &--fullscreen {
    width: 100vw;
  }
}

.content {
  display: flex;
  height: 100%;
}

.intro {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: calc(100% - 8rem);
    max-height: 1000px;
  }
}
