.page {
  height: 100vh;

  &--fullscreen {
    width: 100vw;
  }
}

.intro {
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: calc(100% - 8rem);
  }
}