// colors
$white: #ffffff;
$offwhite: #efefe6;
$black: #000000;
$darkblue: #14161a;
$darkgrey: #1c1f24;
$lightgrey: #4b4e53;
$darkgreen: #357764;
// $bluegrey: #78809e;

// boxshadow
$boxshadow: 0px 0px 5px #0000000a;

// transition
$transition: cubic-bezier(0.215, 0.61, 0.355, 1);

// breakpoints
$sm: 320px;
$md: 768px;
$max-md: max-width $md;
$lg: 1024px;
$xl: 1440px;
$xxl: 1920px;

// z-index
$z-background: -1;
$z-logo: 1;
$z-sayHey: 5;
$z-cursor: 1000;

// fonts
$font-family: 'PoliteType', sans-serif;
$font-weight-normal: 400;

// font-sizes
$font-xs: 1rem;
$font-sm: 1.4rem;
$font-md: 1.8rem;
$font-lg: 3rem;
$font-xl: 5.2rem;
$font-xxl: 7rem;

// spacing
$spacing-xs: 1rem;
$spacing-sm: 2rem;
$spacing-md: 4rem;
$spacing-lg: 6rem;
$spacing-xl: 8rem;
$spacing-xxl: 20vw;

// body styles
$body-color: $white;
$body-bg-color: $darkblue;
$body-font-family: $font-family;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$body-font-size: 1rem;
$body-line-height: normal;
$body-min-width: 30rem;
