// colors
$yellow: #fcac14;
$brown: #a66333;
$purple: #8b3bdb;
$red: #f83d0c;
$lightblue: #aac3cd;
$offwhite: #efefe6;
$white: #ffffff;
$black: #000000;

// breakpoints
$sm: 32rem;
$md: 76.8rem;
$lg: 102.4rem;
$xl: 144rem;
$xxl: 192rem;

// z-index
$z-sayHey: 5;
$z-contact: 10;

// fonts
$font-family-windsor: 'windsor_btroman', serif;
$font-family-markPro: 'mark_pro', sans-serif;
$font-family-markProMedium: 'mark_pro_medium', sans-serif;
$font-weight-normal: 400;

// font-sizes
$font-sm: 2rem;
$font-md: 2.6rem;
$font-lg: 5.2rem;

// body styles
$body-color: $black;
$body-bg-color: $offwhite;
$body-font-family: $font-family-markPro;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$body-font-size: 1rem;
$body-line-height: normal;
$body-min-width: 30rem;
