body {
  cursor: none;
}

.cursor {
  pointer-events: none;

  &__ball {
    position: fixed;
    top: 0rem;
    left: 0rem;
    mix-blend-mode: difference;
    z-index: $z-cursor;

    circle {
      fill: #f7f8fa;
    }
  }
}
