.sayHey {
  &__icon {
    position: fixed;
    bottom: 0;
    width: 12rem;
    height: 12rem;
    margin: 0 0 $spacing-lg $spacing-lg;
    border-width: 1px;
    border-radius: 100%;
    border-color: transparent;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.2s ease-out 0s;
    z-index: $z-sayHey;

    &:hover {
      border-color: $black;
    }
  }

  &__contact {
    display: flex;
    position: fixed;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear ;

    &--open {
      display: flex;
      height: 100%;
      background-color: rgba($color: $black, $alpha: 0.9);
      z-index: $z-contact;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $xl;
    height: 50%;
    margin: auto auto 0 auto;
    padding-bottom: $spacing-lg;
  }

  &__cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    margin: $spacing-lg $spacing-lg 0 0;
    cursor: pointer;

    svg {
      fill: $white;
    }
  }

  &__smiley {
    height: 80%;
    margin: 0 auto;

    svg {
      fill: $white;
      height: 100%;
    }
  }

  &__social {
    display: flex;
    margin-top: auto;

    .button:last-child {
      margin-left: auto;
    }
  }
}
