.sayHey {
  &__icon {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 8rem;
    height: 8rem;
    margin: $spacing-sm;
    border-width: 1px;
    border-radius: 100%;
    border-color: transparent;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.2s ease-out 0s;
    z-index: $z-sayHey;

    &:hover {
      border-color: $white;
    }

    svg {
      animation: rotate 30s linear infinite;
      fill: $white;
    }

    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }

    @include breakpoint($md) {
      width: 12rem;
      height: 12rem;
      margin: $spacing-sm 0;
      right: $spacing-sm;
    }
  }
}
