.sayHey {
  &__icon {
    position: fixed;
    bottom: 0;
    width: 12rem;
    height: 12rem;
    margin: 0 0 4rem 4rem;
    border-width: 1px;
    border-radius: 100%;
    border-color: transparent;
    border-style: solid;
    cursor: pointer;
    transition: border-color 0.2s ease-out 0s;
    z-index: $z-sayHey;

    &:hover {
      border-color: $black;
    }
  }

  &__contact {
    display: none;

    &--open {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 45vh;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      background-color: $black;
      z-index: $z-contact;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: $xl;
    margin: auto;
    padding: 2rem;
  }

  &__cancel {
    position: absolute;
    right: 0;
    width: 3rem;
    margin: 0rem 2rem 0 0;
    cursor: pointer;

    svg {
      fill: $white;
    }
  }

  &__smiley {
    height: 80%;
    margin: 0 auto;

    svg {
      fill: $white;
      height: 100%;
    }
  }

  &__social {
    display: flex;
    margin-top: auto;

    .button:last-child {
      margin-left: auto;
    }
  }
}
