@import './work-item/work-item.scss';

.work {
  display: flex;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;

    @include breakpoint($md) {
      flex-direction: row;
    }
  }
}
