@import './work-item/work-item.scss';

.work {
  display: flex;
  height: 100%;

  @include breakpoint($md) {
    padding: 0 15rem;
  }

  &__content {
    width: 100%;

    @include breakpoint($md) {
      display: grid;
      width: auto;
      height: 100%;
      margin: auto;
      padding: $spacing-md;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      gap: $spacing-md 8rem;
    }

    @include breakpoint($xxl) {
      height: 70vh;
      padding: 0;
    }
  }
}
