@import './work-item/work-item.scss';

.work {
  display: flex;
  height: 100%;
  padding: 5rem 0 7.5rem;

  @include breakpoint($md) {
    padding: 0 15rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;

    @include breakpoint($md) {
      flex-direction: row;
    }
  }
}
